<turbo-frame id="edit_form">
  <%= form_with(model: @tutorial, class: "contents", data: { turbo_frame: "_top" }) do |form| %>
    <% if @tutorial.errors.any? %>
      <div id="error_explanation" class="bg-red-50 dark:bg-red-900/30 text-red-500 dark:text-red-300 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>
        <ul class="list-disc ml-6">
          <% tutorial.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-5">
      <%= form.label :chapter_ids, "Chapter Clips From Lessons", class: "dark:text-gray-200" %>
      <%= form.select :chapter_ids,
        options_for_select(@tutorial.chapters.map { |c| [c.name, c.id] }, @tutorial.chapter_ids),
        {},
        { multiple: true, class: "block outline-none dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600", data: { controller: "multi-select", multi_select_placeholder_value: "Select one or more chapters...", multi_select_teacher_id_value: @tutorial.teacher_id } } %>
    </div>
    <div class="text-center p-4">
      <%= link_to("Cancel", tutorial_path(@tutorial), data: { turbo_frame: "_top" }, class: "inline-block rounded-lg px-4 py-2 text-sm text-white bg-red-600 hover:bg-red-400") %>
      <%= form.submit "Update", class: "w-full sm:w-auto rounded-lg bg-blue-600 hover:bg-blue-400 px-4 py-2 text-sm text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</turbo-frame>
