<div class="flex flex-row justify-center px-4">
  <div class="w-full max-w-md">
    <div class="border-teal-800 border-2 shadow-lg bg-cyan-950 rounded-xl px-5 py-5">
      <h2 class="text-center text-teal-100 text-2xl tracking-wider mb-6">Resend confirmation instructions</h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field text-gray-300 mb-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "block w-full bg-cyan-800 text-gray-300 shadow-sm rounded-xl px-3 py-2 outline focus:outline-2 outline-teal-300" %>
        </div>
        <div class="actions text-center py-2">
          <%= f.submit "Resend confirmation instructions", class: "w-full sm:w-auto rounded-xl px-3 py-2 bg-indigo-600 hover:bg-indigo-400 text-white inline-block font-medium cursor-pointer text-center tracking-wider" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
