<div id="<%= dom_id assignment %>">
  <div class="flex justify-evenly">
    <div class="w-auto">
      <%= link_to assignment.composition.name, assignment.composition, class:'text-blue-600 hover:text-blue-400 text-2xl' %>
    </div>
    <div class="w-auto">
      <div class="m-2">
        <%= link_to assignment.student.name, assignment.student, class:'font-semibold text-blue-600 hover:text-blue-400' %>
        (Student)
      </div>
      <div class="m-2">
        <%= link_to assignment.teacher.name, assignment.teacher, class:'font-semibold text-blue-600 hover:text-blue-400' %>
        (Teacher)
      </div>
    </div>
  </div>
  <div>
    <%= image_tag assignment.summary_video, controls:true if assignment.summary_video.attached? %>
  </div>
  <div class="px-5 my-1">
    <strong>Description:</strong>
    <%= assignment.description %>
  </div>
</div>
