<div id="<%= dom_id assignment %>">
  <div class="my-1">
    <strong>Description:</strong>
    <p class="mb-2">
      <%= link_to assignment.student.name, assignment.student, class:'font-semibold text-blue-600 hover:text-blue-400' %>
      (Student)
    </p>
    <p class="mb-2">
      <%= link_to assignment.teacher.name, assignment.teacher, class:'font-semibold text-blue-600 hover:text-blue-400' %>
      (Teacher)
    </p>
    <%= assignment.description %>
  </div>
  <div>
    <%= image_tag assignment.summary_video, controls:true if assignment.summary_video.attached? %>
  </div>
  <div class="px-5 my-1">
    <strong>Description:</strong>
    <%= assignment.description %>
  </div>
</div>
