<%= turbo_frame_tag "assignment_#{@assignment.id}_description" do %>
  <%= form_with(model: @assignment, local: true) do |form| %>
    <div>
      <strong>Description:</strong>
      <%= form.rich_text_area :description, class: "trix-content" %>
      <div class="mt-2 flex gap-2">
        <%= form.submit "Save", class: "px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-lg font-medium cursor-pointer" %>
        <%= link_to "Cancel", assignment_path(@assignment), class: "px-4 py-2 bg-gray-100 hover:bg-gray-50 rounded-lg font-medium" %>
      </div>
    </div>
  <% end %>
<% end %>
