<%= render layout: "shared/index_layout",
           locals: {
             title: "Assignments",
             search_url: assignments_path,
             turbo_frame: "assignments-table",
             search_placeholder: "Search for assignments",
             new_button_text: "Add new assignment",
             new_path: new_assignment_path
           } do %>
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left px-3 py-2 border-b border-gray-300">Composition</th>
      <th class="text-left px-3 py-2 border-b border-gray-300">Lessons</th>
      <th class="text-left px-3 py-2 border-b border-gray-300">Student</th>
      <th class="text-left px-3 py-2 border-b border-gray-300">Teacher</th>
    </tr>
    <% @assignments.each do |assignment| %>
      <tr>
        <td class="px-3 py-2 border-b border-gray-300"><%= link_to assignment.composition.name, assignment, class:"text-blue-500 hover:text-red-500"  %></td>
        <td class="px-3 py-2 border-b border-gray-300"><%= link_to assignment.lessons.count %></td>
        <td class="px-3 py-2 border-b border-gray-300"><%= link_to assignment.student.name%></td>
        <td class="px-3 py-2 border-b border-gray-300"><%= assignment.teacher.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
