<p style="color: green"><%= notice %></p>
<% content_for :title, "Assignments" %>
<div class="flex justify-between items-center">
  <h1 class="text-4xl text-left text-red-600 px-3 py-2">Assignments</h1>
  <%= form_with url: assignments_path, method: :get, data: { turbo_frame: "assignments-table", turbo_action: "advance" } do |form| %>
    <%= form.text_field :query,
            value: params[:query],
            id: "table-search",
            class: "block p-2 ps-10 text-sm text-gray-700 border border-gray-300 rounded-xl w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
            placeholder: "Search for assignments",
            oninput: "this.form.requestSubmit()" %>
  <% end %>
  <%= link_to "New assignment", new_assignment_path, class: "rounded-lg px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
</div>
<table class="w-full text-left text-gray-800 px-10 py-2">
  <tr>
    <th class="px-3 py-2">Student</th>
    <th class="px-3 py-2">Teacher</th>
    <th class="px-3 py-2">Composition</th>
  </tr>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= link_to assignment.student.name, assignment, class:"text-blue-500 hover:text-red-500 px-1 py-1" %></td>
      <td class="px-1 py-1"><%= assignment.teacher.name %></td>
      <td class="px-1 py-1"><%= assignment.composition.name %></td>
    </tr>
  <% end %>
</table>
