<%= turbo_frame_tag "teacher_#{@teacher.id}_city" do %>
  <%= form_with(model: @teacher, url: teacher_path(@teacher, {format: :html}), data:{ turbo_frame: '_top'}) do |form| %>
    <div class="mb-4">
      <%= form.label :city, class: "dark:text-gray-200" %>
      <%= form.text_field :city,
                class: "block shadow rounded-md border border-gray-200 dark:border-gray-600 outline-none px-3 py-2 mt-2 mb-4 w-full dark:bg-gray-800 dark:text-gray-200" %>
      <div class="mt-2 flex gap-2">
        <%= form.submit "Save", class: "px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white rounded-lg text-sm font-medium cursor-pointer" %>
        <%= link_to "Cancel", teacher_path(@teacher), class: "px-2 py-1 bg-gray-100 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-lg text-sm font-medium dark:text-gray-200" %>
      </div>
    </div>
  <% end %>
<% end %>