<turbo-frame id="comments_module">
  <div class="block w-full">
    <% if signed_in? %>
      <%= form_with(model: Comment.new(annotation:annotation)) do |form| %>
        <div >
          <%= form.rich_text_area :note,
      class: "block shadow border rounded-3xl border-sky-100 dark:border-sky-900 mr-5 mb-2 p-4 mt-2 w-full text-sky-800 dark:text-teal-400", placeholder: "Add a comment" %>
        </div>
        <%= form.hidden_field :annotation_id %>
        <%= form.hidden_field :annotation_type %>
        <div>
          <div class="flex justify-end">
            <%= form.submit "Submit", class: "rounded-xl px-3 py-2 mt-2 border-2 border-white dark:border-indigo-300 bg-indigo-500 dark:border-zinc-900 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap" %>
          </div>
        </div>
      <% end %>
      <p class="text-xl text-bold text-sky-800 dark:text-teal-400 tracking-wide"> Comments: </p>
    <% else %>
      <div class="flex justify-between items-center">
        <p class="text-xl text-bold text-sky-800 dark:text-teal-400 tracking-wide"> Comments: </p>
        <div class="dark:text-white"> Please <%= link_to('sign in', new_user_session_path, class: 'text-blue-400 hover:text-blue-300  underline') %> to add a comment </div>
      </div>
    <% end %>
    <%
      relevant_teacher_ids = []
      if annotation.is_a?(Assignment)
        relevant_teacher_ids = annotation.teacher_ids + [annotation.teacher_id]
      elsif annotation.is_a?(Lesson)
        relevant_teacher_ids = annotation.assignment.teacher_ids + [annotation.assignment.teacher_id]
      end
      relevant_teacher_ids = relevant_teacher_ids.compact.uniq
    %>
    <% annotation.comments.where(unpublished_date: nil).order(created_at: :desc).includes(user: :teacher, likes: :user).each do |comment| %>
      <%= render partial: "public/comments/comment", locals: { comment: comment } %>
    <% end %>
  </div>
</turbo-frame>