<% content_for :title, "Students" %>
<div class="max-w-7xl mx-auto space-y-6">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="bg-white dark:bg-zinc-800 rounded-2xl shadow-lg overflow-hidden">
    <div class="bg-sky-50 dark:bg-zinc-900 px-6 pt-6 pb-3">
      <div class="flex justify-between items-center">
        <h1 class="text-2xl text-sky-800 dark:text-teal-200 font-bold border-l-4 border-teal-400 pl-3">Students</h1>
        <%= form_with url: public_students_path, method: :get, data: { turbo_frame: "students-table", turbo_action: "advance" } do |form| %>
          <%= form.text_field :query,
                value: params[:query],
                id: "table-search",
                class: "block p-2 ps-10 text-sm text-gray-700 border border-gray-300 rounded-xl w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                placeholder: "Search for students",
                oninput: "this.form.requestSubmit()" %>
        <% end %>
      </div>
    </div>
    <div class="bg-sky-50 dark:bg-zinc-900 p-6 md:p-8">
      <div class="space-y-5">
        <% if @students.any? %>
          <% @students.each do |student| %>
            <div class="bg-white dark:bg-zinc-800 rounded-2xl shadow hover:shadow-lg transition-shadow p-4 border-2 border-transparent hover:border-green-400/60 dark:hover:border-green-400/60">
              <div class="flex justify-between items-start">
                <%= render student %>
                <div class="ml-4 flex items-start justify-end gap-2">
                  <%= link_to "Full Info", public_student_path(student), class: "rounded-xl px-3 py-2 border-2 border-indigo-300 bg-indigo-500 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-center my-10 text-slate-700 dark:text-slate-300">No students found.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
