<% content_for :title, "Students" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Students</h1>
    <%= form_with url: students_path, method: :get, data: { turbo_frame: "students-table", turbo_action: "advance" } do |form| %>
      <%= form.text_field :query,
            value: params[:query],
            id: "table-search",
            class: "block p-2 ps-10 text-sm text-gray-700 border border-gray-300 rounded-xl w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
            placeholder: "Search for students",
            oninput: "this.form.requestSubmit()" %>
    <% end %>
    <%= link_to "New student", new_student_path, class: "rounded-lg px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
  <table class="w-full text-left text-gray-800 px-10 py-2">
    <tr>
      <th class="px-3 py-2">Name</th>
      <th class="px-3 py-2">Number of Assignments</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student, class:"text-blue-500 hover:text-blue-400 px-1 py-1" %></td>
        <td class="px-1 py-1"><%= student.assignments.length %></td>
      </tr>
    <% end %>
  </table>
</div>
