<div id="<%= dom_id composition %>" class="w-full sm:w-auto my-5 space-y-5">
<div>
    <%= image_tag composition.sheet_music if composition.sheet_music.attached? %>
  </div>
<div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= composition.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Composer:</strong>
    <%= composition.composer %>
  </div>
  <p>
    <strong>Description:</strong>
    <%= composition.description %>
  </p>
</div>
