<%= form_with(model: composition, class: "contents") do |form| %>
  <% if composition.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(composition.errors.count, "error") %> prohibited this composition from being saved:</h2>

      <ul class="list-disc ml-6">
        <% composition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="my-5">
    <%= form.label :sheet_music %>
    <%= form.file_field :sheet_music, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": composition.errors[:name].none?, "border-red-400 focus:outline-red-600": composition.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": composition.errors[:name].none?, "border-red-400 focus:outline-red-600": composition.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :composer %>
    <%= form.text_field :composer, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": composition.errors[:composer].none?, "border-red-400 focus:outline-red-600": composition.errors[:composer].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
