<p style="color: green"><%= notice %></p>
<% content_for :title, title %>
<div class="flex justify-between items-center">
  <h1 class="text-3xl text-left text-red-600 px-3 py-2"><%= title %></h1>
  <%= form_with url: search_url, method: :get, data: { turbo_frame: turbo_frame, turbo_action: "advance" } do |form| %>
    <%= form.text_field :query,
            value: params[:query],
            id: "table-search",
            class: "block p-2 ps-10 text-sm text-gray-700 border border-gray-300 rounded-xl w-80 flex-initial min-w-50 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
            placeholder: search_placeholder,
            oninput: "this.form.requestSubmit()" %>
  <% end %>
  <%= link_to new_button_text, new_path, class: "rounded-lg px-3 py-2 bg-blue-600 hover:bg-blue-400 text-white block font-medium" %>
</div>
<div class="mx-auto py-4">
  <%= yield %>
</div>
