<div class=" md:flex md:-mx-5 py-4">
  <div class="md:flex-1 md:basis-1/2 md:px-5 text-sky-800 dark:text-teal-300">
    <% if @episode.lesson_video.attached? %>
      <div class="bg-sky-100 dark:bg-black rounded-2xl flex items-center justify-center" style="width: 640px; height: 480px; max-width: 100%;">
        <%= video_tag @episode.lesson_video, style: "max-width: 100%; max-height: 100%;", controls: true, class: "max-w-full max-h-full" %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-bold text-sky-700 dark:text-teal-400">
  <p class="mb-2 text-sky-800 dark:text-teal-300">
    <% if @episode.teacher.present? %>
      <%= link_to @episode.teacher.name, display_teacher_path(@episode.teacher), class:'text-blue-600 hover:text-blue-400' %> (Teacher)
    <% end %>
  </p>
  <p class="m-2 text-sky-800 dark:text-teal-300">
    <%= @episode.description %>
  </p>
</div>
<div class="text-sky-900 dark:text-teal-300">
  <p class="font-bold"> Skills: </p>
  <%= @episode.skills.map{|skill| link_to(skill.name, display_skill_path(skill), class:"text-indigo-600 pl-4 hover:text-indigo-400")}.join(', ').html_safe %>
</div>
<div class="flex">
  <div class="flex-auto">
    <p class="text-sky-800 dark:text-teal-300 m-2">
      Student Reflection:
    </p>
    <div class="flex-auto bg-white text-sky-800 dark:text-teal-300 border shadow border-2 border-sky-100 dark:border-zinc-800 dark:bg-zinc-800 bg-opacity-50 dark:text-teal-300 rounded-2xl m-2 p-6">
      <%= @episode.student_journal %>
    </div>
    <div class="justify-self-end m-4">
      <% if current_user && current_user == @episode.assignment.student.user %>
        <%=
        link_to("Edit", edit_project_episode_path(@episode.project, @episode),
          class: "rounded-xl px-3 py-2 border-2 border-indigo-300 bg-indigo-500 hover:border-2 dark:border-zinc-900 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap")
        %>
      <% end %>
    </div>
  </div>
  <div class="flex-auto">
    <p class="text-sky-800 dark:text-teal-300 m-2">
      Teacher Notes:
    </p>
    <div class="flex-auto bg-white text-sky-800 dark:text-teal-300 border shadow border-sky-100 dark:border-sky-800 dark:bg-zinc-900 bg-opacity-50 dark:text-teal-300 rounded-2xl m-2 p-6">
      <%= @episode.teacher_journal %>
    </div>
    <div class="justify-self-end m-4">
      <% if current_user && @episode.teacher && current_user == @episode.teacher.user %>
        <%= link_to("Edit", edit_project_episode_path(@episode.project, @episode),
          class: "rounded-xl px-3 py-2 border-2 border-indigo-300 bg-indigo-500 dark:border-zinc-900 hover:border-2 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap")
        %>
      <% end %>
    </div>
  </div>
</div>