<div id="<%= dom_id @episode %>">
  <div class="md:-mx-5 px-6 xl:px-5 xl:pb-5 xl:mt-5">
    <div class="md:flex md:-mx-5">
      <div class="md:flex-1 md:basis-1/2 md:px-5 text-sky-800 dark:text-teal-300">
        <% if @episode.lesson_video.attached? %>
          <div class="bg-black p-2 rounded-2xl flex items-center justify-center" style="width: 640px; height: 480px; max-width: 100%;">
            <%= video_tag @episode.lesson_video, style: "max-width: 100%; max-height: 100%;", controls: true, class: "max-w-full max-h-full" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-bold text-sky-700 dark:text-teal-400 px-4 py-2">
      <p class="text-sky-800 dark:text-teal-300 mb-2">
        <% if @episode.teacher.present? %>
          <%= link_to @episode.teacher.name, display_teacher_path(@episode.teacher), class:'text-blue-600 hover:text-blue-400' %> (Teacher)
        <% end %>
      </p>
      <div class="mx-4 my-2 text-sky-900 dark:text-teal-300">
        <p class="font-bold"> Skills: </p>
        <%= @episode.skills.map{|skill| link_to(skill.name, display_skill_path(skill), class:"text-indigo-600 pl-4 hover:text-indigo-400")}.join(', ').html_safe %>
      </div>
      <p class="text-sky-800 dark:text-teal-300">
        <%= @episode.description %>
      </p>
    </div>
  </div>
</div>