<div class="flex justify-between items-center" id="<%= dom_id @episode %>">
  <div class="text-sky-800 dark:text-sky-300 text-2xl m-2 underline underline-offset-8">
    <%= @episode.name %>
  </div>
  <div class="text-lg text-sky-700 dark:text-sky-400 m-2" >
    Project: <span> <%= link_to @episode.assignment.name, project_path(@episode.assignment), class:"text-indigo-600 text-bold hover:text-indigo-400 px-1 py-1" %> </span>
  </div>
</div>
<p>
  <%= video_tag @episode.lesson_video, controls:true if @episode.lesson_video.attached? %>
</p>
<div class="flex px-1 py-4">
  <div class="w-2/3 bg-white bg-opacity-50 text-sky-900 dark:text-sky-300 border shadow border-sky-100 dark:border-black dark:shadow-xl dark:bg-zinc-900 rounded-2xl mr-2 px-3 py-3 flex-auto">
    <%= @episode.description %>
  </div>
  <div class="w-1/3 ml-2 flex-auto text-sky-900 dark:text-sky-300">
    <p class="font-bold"> Skills: </p>
    <%= @episode.skills.map{|skill| link_to(skill.name, display_skill_path(skill), class:"text-indigo-600 pl-4 hover:text-indigo-400")}.join(', ').html_safe %>
  </div>
</div>
<div class="flex">
  <div class="flex-auto">
    <p class="text-sky-800 dark:text-sky-300 m-2">
      Student Reflection:
    </p>
    <div class="flex-auto bg-white text-sky-800 dark:text-sky-300 border shadow border-sky-100 dark:border-sky-800 dark:bg-zinc-900 bg-opacity-50 dark:text-sky-300 rounded-2xl m-2 p-6">
      <%= @episode.student_journal %>
    </div>
    <div class="justify-self-end m-4">
      <% if current_user && current_user == @episode.assignment.student.user %>
        <%= 
        link_to("Edit", edit_project_episode_path(@episode.project, @episode), 
          class: "rounded-xl px-3 py-2 border-2 border-indigo-300 bg-indigo-500 hover:border-2 dark:border-zinc-900 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap")
        %>
      <% end %>
    </div>
  </div>
  <div class="flex-auto">
    <p class="text-sky-800 dark:text-sky-300 m-2">
      Teacher Notes:
    </p>
    <div class="flex-auto bg-white text-sky-800 dark:text-sky-300 border shadow border-sky-100 dark:border-sky-800 dark:bg-zinc-900 bg-opacity-50 dark:text-sky-300 rounded-2xl m-2 p-6">
      <%= @episode.teacher_journal %>
    </div>
    <div class="justify-self-end m-4">
      <% if current_user && current_user == @episode.assignment.teacher.user %>
        <%= link_to("Edit", edit_project_episode_path(@episode.project, @episode),
          class: "rounded-xl px-3 py-2 border-2 border-indigo-300 bg-indigo-500 dark:border-zinc-900 hover:border-2 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap")
        %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial:"/comments/module", locals:{annotation:@episode} %>
