<div id="<%= dom_id composition %>" class="flex w-full sm:w-auto my-5 space-y-5 items-start">
  <div class="flex-column w-55 sm:flex-auto flex-initial mx-4 my-2">
    <div class="font-bold text-xl text-teal-300 text-nowrap italic">
      <%= composition.name %>
    </div>
    <div class="text-nowrap text-teal-300">
      <span class="font-semibold text-nowrap"> <%= composition.composer %> </span>
    </div>
    <div class="text-nowrap my-4 text-teal-400">
      Available Scores:
      <%= link_to composition.sheet_musics.length, sheet_musics_path({composition_id:composition.id}), class: 'font-semibold text-indigo-400 hover:text-indigo-300 hover:text-bold px-2 py-1' %>
    </div>
  </div>
  <div class="flex-auto mx-6 my-2 text-teal-400">
    <strong>Description:</strong>
    <%= composition.description %>
  </div>
</div>
