<% content_for :title, "Compositions" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between">
    <h1 class="font-bold text-sky-800 dark:text-zinc-300 text-2xl">Compositions:</h1>
    <%= form_with url: compositions_path, method: :get, data: { turbo_frame: "compositions-table", turbo_action: "advance" } do |form| %>
      <%= form.text_field :query,
            value: params[:query],
            id: "table-search",
            class: "block p-2 ps-10 text-sm text-sky-900 dark:text-sky-300 border border-gray-300 rounded-xl w-80 bg-gray-50 focus:ring-sky-500 focus:border-sky-500 dark:bg-zinc-800 dark:border-sky-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500",
            placeholder: "Search for compositions",
            oninput: "this.form.requestSubmit()" %>
    <% end %>
  </div>
  <div id="compositions" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @compositions.any? %>
      <% @compositions.each do |composition| %>
        <div class="flex flex-col sm:flex-row justify-between items-start pb-5 sm:pb-0">
          <%= render composition %>
          <div class="ml-4 flex 2xsm:flex-wrap items-start justify-end gap-2 my-4 space-y-2">
            <%= link_to "Full Info", display_composition_path(composition), 
            class: "rounded-xl px-3 py-2 mt-2 border-2 border-white dark:border-indigo-300 bg-indigo-500 dark:border-zinc-900 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap" 
            %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No compositions found.</p>
    <% end %>
  </div>
</div>
