<% content_for :title, "Showing composition" %>
<h1 class="font-bold text-2xl text-teal-200">Composition Details:</h1>
<div class="flex justify-between items-start">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%= render @composition %>
</div>
<div class="flex justify-end">
  <%= link_to "All compositions", display_compositions_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3 py-2 bg-cyan-400 hover:bg-cyan-200 hover:border-2 hover:border-cyan-500 inline-block font-medium" %>
</div>
<h1 class="text-2xl text-teal-400">Assignments</h1>
<div class="max-w-5xl mx-auto px-8 py-4">
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left px-3 py-2 border-b border-gray-300 text-teal-400">Student</th>
      <th class="text-left px-3 py-2 border-b border-gray-300 text-teal-400">Teacher</th>
    </tr>
    <% @composition.assignments.each do |assignment| %>
      <td class="text-left text-teal-300 px-3 py-2 border-b border-gray-300"><%= link_to assignment.student.name, assignment, class:"text-indigo-400 text-normal hover:text-indigo-300 hover:text-bold "  %></td>
      <td class="text-left text-teal-300 px-3 py-2 border-b border-gray-300"><%= assignment.teacher.name   %></td>
    <% end %>
  </table>
</div>
