<%= turbo_frame_tag "journal_#{@journal.id}_composition" do %>
  <%= form_with(model: @journal, local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :composition, class: "dark:text-gray-200", style: "display: block" %>
      <select name="journal[composition_name]"
            data-controller="searchable-select"
            data-searchable-select-placeholder-value="Select or type composition name..."
            class="block outline-none dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600">
        <option value=""></option>
        <% Composition.order(:name).each do |composition| %>
          <option value="<%= composition.name %>" <%= 'selected' if @journal.composition_id == composition.id %>><%= composition.name %></option>
          <% end %>
        </select>
        <div class="mt-2 flex gap-2">
          <%= form.submit "Save", class: "px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white rounded-lg text-sm font-medium cursor-pointer" %>
          <%= link_to "Cancel", journal_path(@journal), class: "px-2 py-1 bg-gray-100 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-lg text-sm font-medium dark:text-gray-200" %>
        </div>
      </div>
    <% end %>
  <% end %>