<div>
  <h1 class="font-bold text-zinc-400 text-2xl mb-2">Projects</h1>
</div>
<div id="skills" class="min-w-full divide-y divide-zinc-200 space-y-5">
  <% @projects.each do |project| %>
    <div class="border rounded-2xl border-sky-300 dark:border-sky-900 dark:bg-zinc-800 border-2 px-4 py-3">
      <h4 class="text-xl ps-4 text-orange-600 hover:text-orange-400 italic py-2"> <%= link_to project.name, project_path(project) %> </h4>
      <div class="flex sm:flex-nowrap">
        <div class="flex-col w-auto px-6 m-2 ">
          <div class="sm:flex-nowrap mb-2 dark:text-zinc-300 text-zinc-500">
            <strong> <%= project.composition.name %> </strong>
            <p class="text-right"> (<%= project.composition.composer %>) </p>
          </div>
          <div class="flex-row sm:flex-nowrap mb-2 text-zinc-500">
            <strong> Teacher:  </strong>
            <p class="dark:text-zinc-300 text-zinc-500"> <%= project.teacher.name %> </p>
          </div>
          <div class="text-zinc-500"> Number of Episodes: 
            <b class="dark:text-zinc-300"> <%= project.lessons.length %> </b>
          </div>
        </div>
        <div class="flex-auto px-6 my-2 text-zinc-500">
          <strong>Description:</strong>
          <p class="dark:text-zinc-300"> <%= project.description %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>