<div id="<%= dom_id lesson %>">
<p>
    <%= image_tag lesson.lesson_video if lesson.lesson_video.attached? %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>
  <p>
    <strong>Assignment:</strong>
    <%= link_to lesson.assignment.name, lesson.assignment %>
  </p>

</div>
