<%= turbo_frame_tag "lesson_#{@lesson.id}_student_journal" do %>
  <%= form_with(model: @lesson, data: { turbo: false }) do |form| %>
    <div>
      <strong>Student Reflection:</strong>
      <%= form.rich_text_area :student_journal, class: "trix-content" %>
      <div class="mt-2 flex gap-2">
        <%= form.submit "Save", class: "px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-lg font-medium cursor-pointer" %>
        <%= link_to "Cancel", lesson_path(@lesson), class: "px-4 py-2 bg-gray-100 hover:bg-gray-50 rounded-lg font-medium" %>
      </div>
    </div>
  <% end %>
<% end %>
