<% content_for :title, 'Lesson' %>
<%= render 'show_header' %>
<div class="xl:hidden mt-5">
  <%= render '/assignments/summary', assignment: @assignment %>
</div>
<div class="xl:flex xl:gap-8">
  <div class="md:-mx-5 py-4 xl:min-w-[640px] ">
    <div id="<%= dom_id @lesson %>" class="md:flex-1 md:basis-1/2 md:px-5 xl:max-w-[640px]"
     data-controller="video-time"
     data-video-time-url-value="<%= lesson_path(@lesson) %>">
      <%= turbo_frame_tag "lesson_#{@lesson.id}_lesson_video" do %>
        <%= render 'video_player', lesson: @lesson %>
        <%= render 'video_replace_trim', lesson: @lesson %>
        <%= render 'video_chapters', lesson: @lesson %>
      <% end %>
      <%= render @lesson %>
    </div>
  </div>
  <div class="hidden xl:block w-full py-4 xl:flex-1 xl:basis-1/2 xl:px-5 md:-mx-5 ">
    <%= render '/assignments/summary', assignment: @assignment %>
    <%= render '/assignments/lesson_table',  lessons: @assignment.lessons, current_lesson: @lesson, assignment: @assignment  %>
  </div>
</div>