<% content_for :title, 'Lesson' %>
<p style="color: green"><%= notice %></p>
<div class="flex justify-between items-center">
  <span class="font-bold text-2xl">
    <span data-controller="inline-edit"
          data-inline-edit-url-value="<%= lesson_path(@lesson) %>"
          data-inline-edit-field-value="name"
          class="inline-block">
      <span data-inline-edit-target="display"
            data-action="click->inline-edit#edit"
        class="cursor-pointer hover:bg-gray-100 px-1 rounded"><%= @lesson.name %></span>
      <input data-inline-edit-target="input"
             type="text"
             value="<%= @lesson.name %>"
             data-action="keydown->inline-edit#save blur->inline-edit#blur"
      class="hidden border border-gray-300 rounded px-2 py-1 font-bold text-2xl" />
    </span>
  </span>
  <div class="ml-2 flex items-center justify-end gap-1">
    <%= link_to "Edit", edit_lesson_path(@lesson), class: "w-full sm:w-auto text-center rounded-lg px-3 py-2 mx-1 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Delete", @lesson, method: :delete, class: "w-full sm:w-auto rounded-lg px-3 py-2 mx-1 text-white bg-red-600 hover:bg-red-400 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
<div class="lg:flex">
  <div class="md:-mx-5 py-4">
    <%= render @lesson %>
  </div>
  <div class="w-full  py-4 md:flex-1 md:basis-1/2 md:px-5">
    <%= render '/assignments/summary', assignment: @assignment %>
    <%= render '/assignments/lesson_table',  lessons: @assignment.lessons, current_lesson: @lesson  %>
  </div>
</div>