<div id="<%= dom_id teacher %>" class="flex justify-between w-auto my-5">
  <div class="py-2 px-2">
    <%= image_tag teacher.profile_picture, class:"max-w-32" if teacher.profile_picture.attached? %>
  </div>
  <div class="flex-column px-6 py-4 w-full">
    <div class="font-bold text-pretty sm:text-wrap"> <%= teacher.name %>
    </div>
    <div>
      City:
      <%= teacher.city %>
    </div>
  </div>
  <div class="flex-auto">
    <strong>Bio:</strong>
    <%= teacher.bio %>
  </div>
</div>
