<div id="<%= dom_id teacher %>" class="flex sm:w-auto my-5 space-y-5">
  <div class="py-2 px-2">
    <%= image_tag teacher.profile_picture, class:"max-w-32" if teacher.profile_picture.attached? %>
  </div>
  <div class="flex-column px-4 py-4">
    <div> <%= teacher.name %>
    </div>
    <div>
      <strong> City: </strong>
      <%= teacher.city %>
    </div>
  </div>
  <div class="flex-column">
    <strong>Bio:</strong>
    <%= teacher.bio %>
  </div>
</div>
