<%= render layout: "shared/index_layout",
           locals: {
             title: "Teachers",
             search_url: teachers_path,
             turbo_frame: "teachers-table",
             search_placeholder: "Search for teachers",
             new_button_text: "Add new teacher",
             new_path: new_teacher_path
           } do %>
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200 w-12"></th>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Name</th>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Projects</th>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Tutorials</th>
    </tr>
    <% @teachers.each do |teacher| %>
      <tr>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300">
          <div class="rounded-full overflow-hidden w-12 h-12 mx-auto border border-gray-300 dark:border-gray-600">
            <%= link_to teacher do %>
              <% if teacher.profile_picture.attached? %>
                <%= image_tag teacher.profile_picture.variant(resize_to_fill: [64, 64]), class:"w-12 h-12 object-cover" %>
              <% else %>
                <div class="flex flex-col items-center justify-center h-16">
                  <svg class="w-16 h-16 text-gray-400" fill="currentColor" viewBox="0 0 24 24">
                    <circle cx="12" cy="8" r="4"/>
                    <path d="M12 14c-4.418 0-8 1.79-8 4v2h16v-2c0-2.21-3.582-4-8-4z"/>
                  </svg>
                </div>
              <% end %>
            <% end %>
          </div>
        </td>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300"><%= link_to teacher.name, teacher, class:"text-blue-500 text-semibold hover:text-red-500 dark:text-blue-400 dark:hover:text-red-400 px-1 py-1" %></td>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300"><%= teacher.projects.length %></td>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300"><%= teacher.tutorials.length %></td>
      </tr>
    <% end %>
  </table>
<% end %>
