<% content_for :title, "Showing teacher" %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
<% end %>
<h1 class="font-semibold text-2xl items-start">Teacher Info:</h1>
<div class="flex justify-between ">
  <%= render @teacher %>
  <div class="ml-4 flex items-start justify-end gap-2">
    <%= link_to "Edit",
          edit_teacher_path(@teacher),
          class: "rounded-md px-3 py-2 bg-gray-100 hover:bg-gray-50 font-medium" %>
    <%= link_to "All teachers",
          teachers_path,
          class: "rounded-md px-3 py-2 bg-gray-100 hover:bg-gray-50 font-medium whitespace-nowrap" %>
    <%= button_to "Delete",
          @teacher,
          method: :delete,
          form_class: "inline-block",  
          class: "rounded-md px-3 py-2 text-white bg-red-600 hover:bg-red-400 font-medium",
          data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
<h1 class="text-2xl text-red-500">Assignments</h1>
<div class="max-w-5xl mx-auto px-8 py-4">
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left px-3 py-2 border-b border-gray-300">Composition</th>
      <th class="text-left px-3 py-2 border-b border-gray-300">Student</th>
    </tr>
    <% @teacher.assignments.each do |assignment| %>
      <td class="px-3 py-2 border-b border-gray-300"><%= link_to assignment.composition.name, assignment, class:"text-blue-600 text-semibold hover:text-blue-400 px-1 py-1"  %></td>
      <td class="px-3 py-2 border-b border-gray-300"><%= assignment.student.name  %></td>
    </tr>
  <% end %>
</table>
</div>
