<div id="<%= dom_id teacher %>" class="flex w-auto my-2 space-y-2 items-start">
  <div class="py-2 px-4">
    <%= image_tag teacher.profile_picture, class:"max-w-32" if teacher.profile_picture.attached? %>
  </div>
  <div class="w-auto pb-2 px-4">
    <div class="font-bold w-35 pb-2 text-teal-300"> <%= teacher.name %>
    </div>
    <p class="text-teal-400">
      City:
      <%= teacher.city %>
    </p>
  </div>
  <div class="flex-auto w-full text-teal-400">
    <strong>Bio:</strong>
    <%= teacher.bio %>
  </div>
</div>
