<div id="<%= dom_id tutorial %>">
  <div class="text-white p-4">
    <div class="mb-4">
      <h3 class="text-lg font-semibold">About This Presentation:</h3>
      <% if tutorial.skill_category %>
        <p class="text-slate-700 dark:text-slate-300 text-sm sm:text-base">
          <strong class="dark:text-gray-200">Skill Category:</strong>
          <%= tutorial.skill_category&.name || "None" %>
        </p>
      <% end %>
    </div>
    <%= tutorial.description %>
    <div class="mt-4 flex items-center justify-between">
      <%= render 'shared/share_buttons' %>
      <%= turbo_frame_tag "bookmark_button_#{dom_id(tutorial)}", src: button_public_bookmarks_path(bookmarkable_id: tutorial.id, bookmarkable_type: tutorial.class.name), class: "flex items-center" %>
    </div>
  </div>
</div>
