<div id="<%= dom_id(chapter) %>"
     data-chapter-item
     data-start-time="<%= chapter.start_time %>"
     class="flex justify-between items-center p-2 hover:bg-gray-700 rounded cursor-pointer">
  <div class="flex-1"
       data-action="click->video-chapters#setCurrentTime"
    data-start-time="<%= chapter.start_time %>">
    <span class="text-sm text-gray-400">
      <%= Time.at(chapter.start_time).utc.strftime("%M:%S") %>
    </span>
    <span class="font-medium"><%= chapter.name %></span>
    <% if chapter.tutorials.any? %>
      <span class="ml-2 px-2 py-0.5 bg-gray-600 text-xs rounded-full text-gray-300">
        <%= chapter.tutorials.count %> Tutorial<%= "s" if chapter.tutorials.count > 1 %>
      </span>
    <% end %>
  </div>
</div>
<% if chapter.tutorials.any? %>
  <div id="<%= dom_id(chapter, :tutorials) %>"
       data-chapter-tutorials
       data-chapter-id="<%= chapter.id %>"
       class="p-2 mb-2 mt-1 ml-4 space-y-1">
    <strong class="text-xs text-gray-500">Tutorials:</strong>
    <% chapter.tutorials.each do |tutorial| %>
      <%= link_to professor_tutorial_path(tutorial.teacher, tutorial), data:{turbo_frame: '_top'}, class: "block text-sm text-blue-400 hover:text-blue-300 py-1" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
        </svg>
        <%= tutorial.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
