<% content_for :title, "Showing student" %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
<% end %>
<h1 class="text-2xl text-teal-400 text-semibold">Student Info:</h1>
<div class="flex justify-between ">
  <%= render @student %>
  <div class="ml-4 flex items-start justify-end gap-2">
    <%= link_to "All students", display_students_path, 
    class: "rounded-xl px-3 py-2 border-2 border-neutral-900 bg-cyan-500 hover:border-2 hover:bg-cyan-300 hover:border-cyan-500 font-medium whitespace-nowrap"
     %>
  </div>
</div>
<h1 class="text-2xl text-orange-600">Projects</h1>
<div class="max-w-5xl mx-auto px-8 py-4">
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left text-teal-400 px-3 py-2 border-b border-teal-300">Composition</th>
      <th class="text-left text-teal-400 px-3 py-2 border-b border-teal-300">Teacher</th>
    </tr>
    <% @student.assignments.each do |assignment| %>
      <td class="px-3 py-2 border-b border-teal-300"><%= link_to assignment.composition.name, project_path(assignment), class:"text-indigo-400 text-normal hover:text-indigo-200 hover:text-bold px-1 py-1"   %></td>
      <td class="px-3 py-2 border-b text-teal-300 border-teal-300"><%= assignment.teacher.name  %></td>
    </tr>
  <% end %>
</table>
</div>
