<p>
  <%= video_tag episode.lesson_video, controls:true if episode.lesson_video.attached? %>
</p>
<%= form_with(model: episode, url:project_episode_path(episode.project, episode)) do |form| %>
  <% if current_user == episode.assignment.teacher.user %>
    <div class="text-teal-500">
      <%= form.label :teacher_journal, style: "display: block" %>
      <%= form.rich_text_area :teacher_journal,
      class: "bflex-auto bg-white dark:border-sky-800 dark:bg-zinc-800 bg-opacity-50 text-teal-600 dark:text-teal-400 border border-sky-300 rounded-2xl m-2 p-6" %>
    </div>
  <% end %>
  <% if current_user == episode.assignment.student.user %>
    <div class="text-teal-500">
      <%= form.label :student_journal, style: "display: block" %>
      <%= form.rich_text_area :student_journal,
      class: "flex-auto bg-white dark:border-sky-800 dark:bg-zinc-800 bg-opacity-50 text-teal-600 dark:text-teal-400 border border-sky-300 rounded-2xl m-2 p-6" %>
    </div>
  <% end %>
  <div>
    <div class="inline">
      <%= form.submit class: "rounded-xl px-3 py-2 mt-2 border-2 border-indigo-300 bg-indigo-500 dark:border-zinc-900 hover:border-2 hover:bg-indigo-400 hover:border-indigo-100 text-white font-medium whitespace-nowrap" %>
    </div>
  </div>
<% end %>
