<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Vivek" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags 'application' %>
  </head>
  <body>
    <header class="text-gray-600 bg-sky-100 body-font">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-black mb-4 md:mb-0">
          <span class="ml-3 text-2xl">The Vivek Project.</span>
        </a>
        <div class="md:ml-auto md:mr-auto flex-col flex-wrap items-center text-base justify-items-center">
          <div class="mb-2">
            <a href="/assignments" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Assignments</a>
            <a href="/students" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Students</a>
            <a href="/teachers" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Teachers</a>
            <a href="/compositions" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Compositions</a>
            <a href="/skills" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Skills</a>
          </div>
          <div class="flex-auto justify-between">
            <a href="/comments" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Comments</a>
            <a href="/accounts" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">Accounts</a>
          </div>
        </div>
        <a href="/users/edit" class="mr-5 text-cyan-600 hover:text-bold hover:text-cyan-500">My Account</a>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"inline-flex object-center items-center justify-right bg-white opacity-50 border-sky-50 border-2 py-1 px-3 focus:outline-none hover:border-sky-500 hover:border-2 rounded-lg text-black mt-4 md:mt-0" %>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
